    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Update Issue</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                  Are you sure to want to update the issue?
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Update</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
